<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843575383829-cp83mds548jakoaqs5o0oh8jfffa53fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843575383829-cp83mds548jakoaqs5o0oh8jfffa53fk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843575383829-8pfb8rp8088hebqs06odho67pjfgt44n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGufmd0HKd4lxE7gd2jxbkfppCKH_qgXY</string>
	<key>GCM_SENDER_ID</key>
	<string>843575383829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dezmente</string>
	<key>PROJECT_ID</key>
	<string>dezmente-ufpr</string>
	<key>STORAGE_BUCKET</key>
	<string>dezmente-ufpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843575383829:ios:a81f2ca0716c2b3ecabb1c</string>
</dict>
</plist>